body {
    background-color: #003366;
    color: white;
}

#pageHeader {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    background-color: #7c7c7c;
    font-family: cursive;
    flex-direction: column;
}

#logoTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#navigationBar {
    font-family: Cambria;
    background-color: #7c7c7c;
    text-align: center;
}

#navigationBar li a {
    text-decoration: none;
    color: white;
}

#navigationBar li a:hover {
    background-color: #003366;
}


#navigationBar li {
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
}

#micButton {
    background: none;
    border: none;
    padding: 0;
    margin: 10px;
}

#micButton img {
    display: block;
    background-color: transparent;
    border: none;
    height: 40px;
}

#pageFooter {
    color: white;
    background-color: #7c7c7c;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    font-family: Cambria;
}

#chartDataDisplay {
    text-align: center;
    color: white;
}


#backButton {
    background: none;
    border: none;
    padding: 0;
    margin: 10px;
}

#backButton img {
    display: block;
    background-color: transparent;
    border: none;
    height: 40px;
}

#favoritesButton {
    background: none;
    border: none;
    padding: 0;
    margin: 10px;
}

#favoritesButton img {
    display: block;
    background-color: transparent;
    border: none;
    height: 40px;
}

#stockTicker {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 22%;
}

.contentBox {
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
    padding: 10px;
    margin: 40px;
    width: 95%;
    height: 90%;
}

.problemAndSolutionContentBox {
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
    padding: 10px;
    margin: 40px;
    width: 95%;
    height: 15%;
}

.infoContentBox {
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
    padding: 10px;
    margin: 40px;
    width: 95%;
    height: 30%;
}
#financialTerms {
    margin-left: 40px;
}

#wompWomp {
    margin-left: 40px;
}

.smallerContentBox {
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
    padding: 10px;
    margin: 40px;
    width: 95%;
    height: 20%;
}

.largerContentBox {
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
    padding: 10px;
    margin: 40px;
    width: 95%;
    height: 35%;
}

.splitContentBox {
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
    padding: 10px;
    margin: 40px;
    width: 95%;
    height: 42%;
}

#watchlistsHome {
    display: flex;
    gap: 950px;
    align-items: flex-start;
    margin-left: 40px;
}

#stockWatchlist {
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
    padding: 10px;
    margin: 40px;
    width: 15%;
    text-align: center;
  }
  
  #stockWatchlist th {
    border: 1px solid black;
    color: black;
  }
  
  #stockWatchlist td {
    border: 1px solid black;
    color: black;
  }

  #recentlySearchedList {
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
    padding: 10px;
    margin: 40px;
    width: 10%;
    text-align: center;
}

#recentlySearchedList th {
    border: 1px solid black;
    color: black;
  }
  
  #recentlySearchedList td {
    border: 1px solid black;
    color: black;
  }

  #tickerAndPrice {
    display: flex;
    justify-content: center;
    gap: 500px;
  }

  #percentAndPriceChange {
    display: flex;
    justify-content: center;
    gap: 500px;
  }

  #lowAndHigh {
    display: flex;
    justify-content: center;
    gap: 500px;
  }

  #openDisplay {
    text-align: center;
  }

  .aboutContentBox {
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
    padding: 10px;
    margin: 40px;
    width: 95%;
    height: 48%;
}

  #arvin {
    margin-left: 1350px;
    height: 300px;
    width: 300px;
  }

  #stockButtons {
    display: flex;
    justify-content: center;
    gap: 650px;
  }